<div id="certificate-card" style="background: #FFFFFF;border-top:2px solid Blue; border-left:2px solid Blue; border-bottom:2px solid Blue;  border-right: 40px solid Blue; padding: 1rem; position:relative">
  <h2 style="color:#010555;font-size:40px"> <center> <i><u> Certificate of Completion  </u></i></center></h2>
  <center><i style="color:#010555;font-size:25px">Presented to</i></center><br>
  <center style="color:#010555;font-size:30px"><b>{{ member.full_name }}</b></center><br>
  <center style="color:#010555;font-size:20px"><i><font style="font-size:25px">from <b style="color:#010555;font-size:28px">Baker Hughes Omen</b></font></i></center>
  <center style="color:#010555;font-size:20px">has succesfully Completed the course assessment for the</center><br>
  <center style="color:#010555;font-size:40px"><b>{{ course.title }}</b></center>
  <center style="color:#010555;font-size:40px"><b>TRAINNING COURSE</b></center><br>
  <center style="color:#010555;font-size:20px">RMZ Oilfield Engineering acknowledges your attendance and successful completion of this</center>
  <center style="color:#010555;font-size:20px">course during {{ frappe.utils.format_date(certificate.issue_date, "medium") }} in Qarn Alam, Oman</center><br>
<div style = "text-align: right; text-align: right; right: 70px;  position: absolute; ">  
<center style="color:#010555;font-size:20px;">
    {% if instructors %}
      {{ instructors }} <br>
      {{ _("Technical Instructor") }}
    {% endif %} <br>
    {% if certificate.expiry_date %}
      {{certificate.expiry_date}}
    {% endif %}
  </center>
</div>
<br>
  <center><img src="/assets/lms/images/RMZ-LOGO.jpg"></center>

</div>
